<div id="about-me" class="col-md-offset-2 col-md-8">
  <h4>/home/andreas</h4>
  <div class="social-icon-list">
	<a title="About me" href="/about-me/"><i class="fa fa-user fa-lg"/></i></a>&nbsp;&nbsp;
	<a title="Email" href="mailto:andreas.h.prell@gmail.com"><i class="fa fa-envelope fa-lg"/></i></a>&nbsp;&nbsp;
	<a title="GitHub" href="https://github.com/aprell"><i class="fa fa-github fa-lg"/></i></a>&nbsp;&nbsp;
	<a title="LinkedIn" href="https://linkedin.com/in/andreas-prell"><i class="fa fa-linkedin-square fa-lg"/></i></a>&nbsp;&nbsp;
	<a title="Instagram" href="https://www.instagram.com/ahprell"><i class="fa fa-instagram fa-lg"></i></a>
  </div>
</div>
